{{set . "title" "View Certificate"}}
{{template "header.html" .}}

<div class="container">
<div class="row">
<h3>Project: {{.project.Name}}  <small>View Cert</small></h3>

{{ $project := .project}}
{{ $certificate := .certificate}}
{{ $chain := index .chains 0 }}


	<dl class="dl-horizontal">
    <dt>Status:</dt> <dd>{{ if .revoked}}REVOKED{{else}}VALID{{end}}</dd>
 		<dt>Country:</dt> <dd>{{ index .cert.Subject.Country 0 }}</dd>
 		<dt>State:</dt> <dd>{{ index .cert.Subject.Province 0 }}</dd>
 		<dt>City:</dt> <dd>{{ index .cert.Subject.Locality 0 }}</dd>
 		<dt>Organization:</dt> <dd>{{ index .cert.Subject.Organization 0 }}</dd>
 		<dt>Organizational Unit:</dt> <dd>{{ index .cert.Subject.OrganizationalUnit 0 }}</dd>
 		<dt>Common Name:</dt> <dd>{{ index .cert.Subject.CommonName }}</dd>
 		<br />
 		<dt>Signed By:</dt> <dd>{{ index .cert.Issuer.CommonName  }}</dd>
 		<br />
 		<dt>Key Uses:</dt> 
 		<dd>
 		{{ $size := len .keyUses}}{{ range $i, $key := .keyUses }}{{if $i}}, {{end}}{{$key}}{{end}}
 		</dd>
 		<dt>Extra Key Uses:</dt> 
 		<dd>
 		{{ range $i, $key := .extKeyUses }}{{if $i}}, {{end}}{{$key}}{{end}}
 		</dd>
 		<br />
 		<dt>CA:</dt> <dd><i class="fa {{ if .cert.IsCA  }}fa-check-square-o{{else}}fa-times-circle-o{{end}} fa-lg fa-fw"></i></dd>
    <dt>CA Chain:</dt> <dd>{{range $i, $cert := $chain}}
{{if $i}}<i class="fa fa-arrow-left fa-fw"></i>{{end}}{{$cert.Subject.CommonName}}
{{end}}</dd>
	</dl>




<div class="btn-group">
  <a class="btn btn-primary" href="{{ url "Project.Download" $project.Id $certificate.Id }}"><i class="fa fa-download fa-lg fa-fw"></i> Download Public Certificate</a>
  {{if or .canDownloadKey .canRevokeKey}}
  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
    <span class="fa fa-caret-down"></span></a>
  <ul class="dropdown-menu">

  {{ if len $chain }}
    <li><a href="{{ url "Project.DownloadChain" $project.Id $certificate.Id }}"><i class="fa fa-download fa-fw"></i> Download Certificate Chain</a></li>
  {{ end }}

	<li class="divider"></li>
	{{if .canDownloadKey}}
    {{ if .certificate.PrivateKey}}
    <li><a href="{{ url "Project.DownloadKey" $project.Id $certificate.Id }}"><i class="fa fa-download fa-fw"></i> Download Private Key</a></li>
    <li><a data-toggle="modal" data-target="#encKeyModal{{$certificate.Id}}" href="#"><i class="fa fa-download fa-fw"></i> Encrypt and Download Private Key</a></li>
    {{end}}
  {{end}}
	
  <!--
	{{if .canRevokeKey}}
    {{ if .certificate.PrivateKey}}
    <li><a href="{{ url "Project.GenerateOneTimeLink" $project.Id $certificate.Id }}"><i class="fa fa-link fa-fw"></i> Generate One-Time Download Link</a></li>
    {{end}}
  {{end}}
  -->

  </ul>
  {{end}}
</div>

{{if .canRevokeKey}}
<a class="btn btn-default" href="{{url "Admin.EditCertificate" $project.Id $certificate.Id}}"><i class="fa fa-edit fa-lg fa-fw"></i> Edit cert</a>
{{end}}

<br />


</div></div>

<div class="modal fade" tabindex="-1", id="encKeyModal{{$certificate.Id}}" role="dialog" aria-labelledby="Encrypt and Download Key" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Encrypt and Download Key</h4>
      </div>
      <div class="modal-body">
      <form class="form-horizontal" action="{{url "Project.DownloadEncryptedKey" $project.Id $certificate.Id}}" method="POST">
      <fieldset>

        <div class="form-group">
          <label class="control-label col-lg-2" for="newKey">New Key</label>
          <div class="controls col-lg-6">
            <input type="text" class="form-control" name="newKey" id="newKey" placeholder="New Key"  required>
          </div>
        </div>

        {{if $certificate.Encrypted}}
        <div class="form-group">
          <label class="control-label col-lg-2" for="existingKey">Existing Key</label>
          <div class="controls col-lg-6">
            <input type="text" name="existingKey" id="existingKey" placeholder="Existing Key" required class="form-control" >
          </div>
        </div>
        {{end}}

        <div class="form-group">
            <div class="controls col-lg-offset-2 col-lg-6">
              <button class="btn btn-primary" type="submit" value="Create">Download</button>
            </div>
          </div>

      </fieldset>
      </form>

      </div>
    </div>
  </div> 
</div>

{{template "footer.html" .}}




