{{set . "title" "Change Password"}}
{{template "header.html" .}}

<div class="container">
<div class="row">



<div class="col-lg-10">
<div class="well">
<form class="form-horizontal" action="{{url "User.UpdatePassword"}}" method="POST">
<fieldset>
<legend>Change Password:</legend>

 {{with $field := field "currentPassword" .}}
  <div class="form-group {{ if $field.ErrorClass}}has-error {{end}}">
    <label class="control-label col-lg-2" for="{{$field.Name}}">Current Password</label>
    <div class="controls col-lg-6">
      <input type="password" class="form-control" name="{{$field.Name}}" id="{{$field.Name}}" placeholder="Password" value="{{$field.Flash}}" required>
      {{ if $field.ErrorClass}}<span class="help-inline">{{$field.Error}}</span> {{end}}
    </div>
  </div>
  {{end}}

  {{with $field := field "password" .}}
  <div class="form-group {{ if $field.ErrorClass}}has-error {{end}}">
    <label class="control-label col-lg-2" for="{{$field.Name}}">New Password</label>
    <div class="controls col-lg-6">
      <input type="password" class="form-control" name="{{$field.Name}}" id="{{$field.Name}}" placeholder="Password" value="{{$field.Flash}}" required>
      {{ if $field.ErrorClass}}<span class="help-inline">{{$field.Error}}</span> {{end}}
    </div>
  </div>
  {{end}}
  {{with $field := field "verifyPassword" .}}
  <div class="form-group {{ if $field.ErrorClass}}has-error {{end}}">
    <label class="control-label col-lg-2" for="{{$field.Name}}">Verify New Password</label>
    <div class="controls col-lg-6">
      <input type="password" class="form-control" name="{{$field.Name}}" id="{{$field.Name}}" placeholder="Password" value="{{$field.Flash}}" required>
      {{ if $field.ErrorClass}}<span class="help-inline">{{$field.Error}}</span> {{end}}

    </div>
  </div>
  {{end}}


  <div class="form-group">
    <div class="controls col-lg-offset-2 col-lg-6">
      <button class="btn btn-primary" type="submit" value="Register">Submit</button>
    </div>
  </div>
</fielset>
</form>

</div></div>

</div></div>

{{template "footer.html" .}}
